:root {
  --ELECTRIC-RED: #EC0000;
  --ENGINEERING-INTERNATIONAL-ORANGE: #BE1515;
  --WHITE: #FFFFFF;
  --BLACK: #000000;
  --DARK-GREEN: #00240F;
  --PIGMENT-GREEN: #05A84B;
  --PIGMENT-GREEN: #05A74B;
  --X11-GRAY: #BCBCBC;
  --DARK-LIVER: #4F4F4F;
  --DARK-CHARCOAL: #333333;
  --ISABELLINE: #F6ECEC;
  --first-family: "Fira Sans", sans-serif;
  --second-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira_Sans/FiraSans-Light.woff2") format("woff2"), url("../fonts/Fira_Sans/FiraSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira_Sans/FiraSans-Regular.woff2") format("woff2"), url("../fonts/Fira_Sans/FiraSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira_Sans/FiraSans-Medium.woff2") format("woff2"), url("../fonts/Fira_Sans/FiraSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira_Sans/FiraSans-SemiBold.woff2") format("woff2"), url("../fonts/Fira_Sans/FiraSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira_Sans/FiraSans-Bold.woff2") format("woff2"), url("../fonts/Fira_Sans/FiraSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--first-family);
  font-size: 16px;
  background-color: var(--ISABELLINE);
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--WHITE);
  border-radius: 60px;
}

.container {
  max-width: 1290px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: var(--ELECTRIC-RED);
  color: var(--WHITE);
  font-family: var(--first-family);
  font-weight: 500;
  text-transform: uppercase;
}

.header-row {
  min-height: 100px;
  align-items: center;
}

.logo {
  outline-color: var(--ELECTRIC-RED);
}

.logo img {
  display: block;
}

.menu {
  margin-left: auto;
  align-items: center;
}

.nav-link {
  margin-right: 36px;
  font-weight: 400;
  color: var(--DARK-GREEN);
  transition: 0.3s;
  outline-color: var(--ELECTRIC-RED);
}
.nav-link:hover {
  color: var(--ELECTRIC-RED);
}
.nav-link:focus {
  color: var(--ELECTRIC-RED);
}
.nav-link:active {
  color: var(--ENGINEERING-INTERNATIONAL-ORANGE);
}

.nav-link-active {
  color: var(--ELECTRIC-RED);
  font-weight: 500;
}

.tool {
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
}

.search-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline-color: var(--ELECTRIC-RED);
}

.search-btn img {
  display: block;
  width: 24px;
  height: 24px;
  padding: 4px;
}

.cart-btn {
  background-color: inherit;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  outline-color: var(--ELECTRIC-RED);
}

.sign-in-btn {
  outline-color: var(--ENGINEERING-INTERNATIONAL-ORANGE);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.sign-in-btn:hover {
  background-color: var(--ENGINEERING-INTERNATIONAL-ORANGE);
}

.hero {
  position: relative;
}

.hero-row {
  align-items: center;
  min-height: 549px;
  height: 100%;
}

.hero-content {
  max-width: 574px;
  width: 100%;
}

.hero-content-title {
  font-weight: 700;
  font-size: 72px;
  color: var(--DARK-GREEN);
  line-height: 74px;
  margin-bottom: 4px;
}

.hero-content-subtitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 58px;
  color: var(--DARK-GREEN);
  margin-bottom: 36px;
}

.hero-link {
  max-width: 182px;
  width: 100%;
  height: 50px;
  font-size: 24px;
  transition: ease-in-out 0.2s;
  outline-color: var(--ENGINEERING-INTERNATIONAL-ORANGE);
}
.hero-link:hover {
  background-color: var(--ENGINEERING-INTERNATIONAL-ORANGE);
}

.hero-image {
  position: absolute;
  right: 0;
  overflow: hidden;
}

.hero-image::before {
  content: "";
  width: 89px;
  height: 100%;
  top: 0;
  left: -89px;
  background-color: var(--WHITE);
  position: absolute;
  box-shadow: 10px 0 100px 140px var(--WHITE);
}

.hero-image img {
  display: block;
}

.column {
  padding: 60px 0 113px;
}

.column-title {
  text-align: center;
  margin-bottom: 40px;
}

.column-row {
  justify-content: center;
  max-width: 990px;
  padding: 0 20px;
  margin: 0 auto;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.column-item {
  flex-direction: column;
  align-items: center;
  max-width: 290px;
  min-height: 530px;
  padding: 24px 16px;
  text-align: center;
  border: 1px solid var(--X11-GRAY);
  border-radius: 180px 180px 30px 30px;
  transition: 0.3s;
  cursor: default;
}
.column-item:hover {
  box-shadow: -15px 15px 50px 0 rgba(0, 0, 0, 0.15);
}

.column-item-img {
  width: 205px;
  height: 209px;
  margin-bottom: 21px;
}

.column-item-content {
  flex-direction: column;
  flex-grow: 1;
}

.column-item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 4px;
}

.column-item-desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: var(--DARK-CHARCOAL);
  margin-bottom: 21px;
}

.column-item-price {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--PIGMENT-GREEN);
  margin-bottom: 21px;
}

.content-item-btns {
  margin-top: auto;
}

.select-row {
  position: relative;
}

.select-row::before {
  content: "";
  position: absolute;
  top: 13px;
  right: 23px;
  background-image: url("../img/arrow.svg");
  width: 14px;
  height: 14px;
  pointer-events: none;
}

.column-item-select {
  max-width: 243px;
  width: 100%;
  height: 40px;
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 16px;
  border-radius: 25px;
  padding: 9px 16px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: left;
  color: var(--DARK-CHARCOAL);
  border: 1px solid var(--DARK-LIVER);
  cursor: pointer;
}

.column-item-btn {
  max-width: 243px;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  outline-color: var(--ENGINEERING-INTERNATIONAL-ORANGE);
}
.column-item-btn:hover {
  background-color: var(--ENGINEERING-INTERNATIONAL-ORANGE);
}
.column-item-btn:focus {
  background-color: var(--ELECTRIC-RED);
}/*# sourceMappingURL=style.css.map */