@import './vars';


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--first-family);
    font-size: 16px;
    background-color: var(--ISABELLINE);
}
a {
    text-decoration: none;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--WHITE);
    border-radius: 60px;
}
.container {
    max-width: 1290px;
    padding: 0 20px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: var(--ELECTRIC-RED);
    color: var(--WHITE);
    font-family: var(--first-family);
    font-weight: 500;
    text-transform: uppercase;
}

// HEADER SECTION
.header-row {
    min-height: 100px;
    align-items: center;
}
.logo {
    outline-color: var(--ELECTRIC-RED);
}
.logo img{
    display: block;
}
.menu {
    margin-left: auto;
    align-items: center;
}
.nav-link {
    margin-right: 36px;
    font-weight: 400;
    color: var(--DARK-GREEN);
    transition: .3s;
    outline-color: var(--ELECTRIC-RED);

    &:hover {
        color: var(--ELECTRIC-RED);
    }
    &:focus {
        color: var(--ELECTRIC-RED);
    }
    &:active {
        color: var(--ENGINEERING-INTERNATIONAL-ORANGE);
    }
}
.nav-link-active {
    color: var(--ELECTRIC-RED);
    font-weight: 500;
}
.tool {
    column-gap: 24px;
    align-items: center;
}
.search-btn {
    background-color: inherit;
    border: none;
    cursor: pointer;
    outline-color: var(--ELECTRIC-RED);
}
.search-btn img {
    display: block;
    width: 24px;
    height: 24px;
    padding: 4px;
}
.cart-btn {
    background-color: inherit;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    outline-color: var(--ELECTRIC-RED);

}
.sign-in-btn {
    outline-color: var(--ENGINEERING-INTERNATIONAL-ORANGE);
    cursor: pointer;
    transition: ease-in-out .2s;

    &:hover {
        background-color: var(--ENGINEERING-INTERNATIONAL-ORANGE);
    }
}

// HERO SECTION
.hero {
    position: relative;
}
.hero-row {
    align-items: center;
    min-height: 549px;
    height: 100%;
}
.hero-content {
    max-width: 574px;
    width: 100%;
}
.hero-content-title {
    font-weight: 700;
    font-size: 72px;
    color: var(--DARK-GREEN);
    line-height: 74px;
    margin-bottom: 4px;
}
.hero-content-subtitle {
    font-weight: 500;
    font-size: 36px;
    line-height: 58px;
    color: var(--DARK-GREEN);
    margin-bottom: 36px;
}
.hero-link {
    max-width: 182px;
    width: 100%;
    height: 50px;
    font-size: 24px;
    transition: ease-in-out .2s;

    &:hover {
        background-color: var(--ENGINEERING-INTERNATIONAL-ORANGE);
    }
}
.hero-image {
    position: absolute;
    right: 0;
    overflow: hidden;
}
.hero-image::before {
    content: '';
    width: 89px;
    height: 100%;
    top: 0;
    left: -89px;
    background-color: var(--WHITE);
    position: absolute;
    box-shadow: 10px 0 100px 140px var(--WHITE);
}
.hero-image img {
    display: block;
}